    <div class="container h-100 d-flex">
        <div class="row w-100 align-items-center">
            <div class="col">
                <h1 class="text-center display-4">How will you be joining?</h1>
                <hr/>
                <div class="row">
                    <div class="col-6">
                        <div class="option-card">
                            <h2>As a Participant</h2>
                            <hr/>

                        </div>

                    </div>
                    <div class="col-6">
                        <div class="option-card">
                            <h2>As a Volunteer</h2>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
