<div class="d-flex flex-column h-100">
    <div class="flex-grow-0 p-3">
        <div class="top-bar d-flex align-items-center">
            <div class="mid-section flex-grow-1 px-3">
                <h1 class="h2">Hackathon Name</h1>
            </div>
            <div class="user-section flex-grow-0">
                <span class="h5">
                    <fa-icon [icon]="faUserCircle" class="mr-2"></fa-icon>
                    {{currentUser.firstName}} {{currentUser.lastName}}
                </span>
            </div>
            <div class="exit-section flex-grow-0" (click)="onSignOutClicked()">
                <span class="h5">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>
</div>
