<div class="app-container d-flex flex-column">
    <div class="content flex-grow-1">
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="../assets/cc-logo.svg" class="logo" alt=""/>
                    Powered By <a href="https://github.com/CometCrate" class="text-light font-weight-bold">Comet Crate</a>
                </div>
            </div>
        </div>
    </div>
</div>
